body{

background: #2bb227;

}


#page1header{
  background: #1bd3c7;
  margin: 30px;
  coloe:

}

#page2header{
  background: #1c61ce;
  margin: 55px;

}

.body{
background: #c60d0d;
text-align: center;


}
